<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-12">
    <div class="col-xl-12 mb-12 mb-xl-0">
      <div class="card shadow">
        <div class="card-header  border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Mining</h3>
            </div>
            <div class="col text-right">
              {{coins}}
            </div>
          </div>
        </div>

        <div class="card-body px-lg-5 py-lg-5">
          <div class="row justify-content-center">
            <button class="btn btn-primary" (click)="startMining()"
                    [disabled]="miningStatus">
              Start Mining
            </button>
            <button class="btn btn-primary" (click)="stopMining()"
                    [disabled]="!miningStatus">
              Stop Mining
            </button>
          </div>
          <br><br>
          <div *ngIf="miningStatus">
            <div class="row justify-content-center">
              STOP MINING TO VIEW RESPONSES
            </div>
          </div>
          <div class="table-responsive" *ngIf="!miningStatus">
            <!-- Projects table -->
            <table cdk-table [dataSource]="this.tableData" class="table align-items-center table-flush">

              <ng-container cdkColumnDef="time">
                <th cdk-header-cell *cdkHeaderCellDef>Time</th>
                <td cdk-cell *cdkCellDef="let element"> {{element.time}} </td>
              </ng-container>

              <ng-container cdkColumnDef="status">
                <th cdk-header-cell *cdkHeaderCellDef>Status</th>
                <td cdk-cell *cdkCellDef="let element"> {{element.status}} </td>
              </ng-container>

              <ng-container cdkColumnDef="coins">
                <th cdk-header-cell *cdkHeaderCellDef>Coins</th>
                <td cdk-cell *cdkCellDef="let element"> {{element.coins}} </td>
              </ng-container>


              <tr cdk-header-row *cdkHeaderRowDef="this.displayedColumns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: this.displayedColumns"></tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
