[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.6"

[packages]

flask = "==0.12.2"
requests = "==2.18.4"
flask_wtf = "==0.14.2"
wtforms = "==2.1"
argon2 = "==0.1.10"
flask_login = "==0.4.1"
flask_migrate = "==2.1.1"
flask_sqlalchemy = "==2.3.2"
flask_restful = "==0.3.6"
werkzeug = "==0.14.1"

