<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center py-xl-9"
     style="min-height: 600px; background-image: url(assets/img/theme/bg1.jpg); background-size: cover; background-position: center top;">


  <span class="mask bg-gradient-danger opacity-8"></span>

  <div class="container-fluid py-xl-9">
    <div class="header-body">
        <div class="row align-items-center">
          <div class="col text-xl">
            <h1 class="text-white">Hello, {{userService.name}}</h1>
          </div>
        </div>
      <div class="row align-items-center">
          <div class="col">
            <h3 class="text-white">Balance {{userService.coins}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
