<!DOCTYPE html>

{% extends "nav.html" %}
{% block content %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header -->
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="intro-text" >
                <h1>IP Manager using <span class="name">Blockchain</span></h1><br><br>
                <a href="#about" class="btn btn-default btn-lg page-scroll">Deep Dive</a>
                <a href="/login" class="btn btn-default btn-lg page-scroll">Login</a>
                <a href="/register" class="btn btn-default btn-lg page-scroll">Register</a></div>
        </div>
    </div>
</div>
<div style="padding:400px;"></div>

<a id="about">
    <div class="container">
        <div class="text-center center">
            <h2>About</h2>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="about-text">
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                    <p>qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</a>
 <!--&lt;!&ndash;Navigation &ndash;&gt;-->
<!--<div id="nav">-->
    <!--<nav class="navbar navbar-custom">-->
        <!--<div class="container">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">-->
                    <!--helo-->
                <!--</button>-->
                <!--<a class="navbar-brand page-scroll" href="#page-top">Home</a></div>-->

            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div class="collapse navbar-collapse navbar-main-collapse">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--&lt;!&ndash; Hidden li included to remove active class from about link when scrolled up past about section &ndash;&gt;-->
                    <!--<li class="hidden"><a href="#page-top"></a></li>-->
                    <!--<li><a class="page-scroll" href="#about">About</a></li>-->
                    <!--<li class="dropdown">-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions<span-->
                                <!--class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a class="page-scroll" href="#rp">Register Property</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a class="page-scroll" href="#tp">Transfer Property</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">View<span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a class="page-scroll" href="#vp">Properties</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a class="page-scroll" href="#vt">Transactions</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a class="page-scroll" href="#signupform">Sign Up</a></li>-->
                    <!--<li><a class="page-scroll" href="#loginform">Login</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
<!--</div>-->
 <!--&lt;!&ndash;signup/login Section &ndash;&gt;-->
<!--<div id="formsection" style="background-color:#b0bec5;padding:5%;height:70%;">-->
    <!--<div id="signupform" style="padding-top:10%;float:left; width:40%">-->
        <!--<form action="/signup" id="signup">-->
            <!--<input type="text" id="name" class="form-control" placeholder="Name" required="required">-->
            <!--<input type="email" id="email" class="form-control" placeholder="Email ID" required="required">-->
            <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>-->
            <!--<button type="submit" style="border-color:black;color:black;text-align:center" class="btn btn-default">Sign-->
                <!--Up-->
            <!--</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div id="loginform" style="padding-top:10%;float:right; width:40%">-->
        <!--<form action="/login" id="login">-->
            <!--<input type="email" id="email" class="form-control" placeholder="Email ID" required="required">-->
            <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>-->
            <!--<button type="submit" class="btn btn-default" style="color:black;border-color:black;align:center">Login-->
            <!--</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<br>-->
<!--</div>-->
 <!--&lt;!&ndash;About Section &ndash;&gt;-->
 <!--&lt;!&ndash;rp Section &ndash;&gt;-->
<!--<div id="rp" class="text-center">-->
    <!--<div class="container">-->
        <!--<div class="section-title center">-->
            <!--<h2>Register Property</h2>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; tp Section &ndash;&gt;-->
<!--<div id="tp">-->
    <!--<div class="container">-->
        <!--<div class="section-title text-center center">-->
            <!--<h2>Transfer Property</h2>-->
            <!--<form action="/transactions/new" method="post">-->
                <!--<input type="text" name="sender">-->
                <!--<input type="text" name="recipient">-->
                <!--<input type="text" name="token">-->
                <!--<input type="submit" name="submit">-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; vp Section &ndash;&gt;-->
<!--<div id="vp" class="text-center">-->
    <!--<div class="container">-->
        <!--<div class="section-title center">-->
            <!--<h2>View Properties</h2>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; vt Section &ndash;&gt;-->
<!--<div id="vt" class="text-center">-->
    <!--<div class="container">-->
        <!--<div class="section-title center">-->
            <!--<h2>View Transactions</h2>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{% endblock %}