<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IP Management System</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}" type="text/css">
    <script src="/static/js/vendor/d3.min.js"></script>
    <script src="/static/js/vendor/rickshaw.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
    <script src="{{ url_for('static', filename='js/jquery.1.11.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SmoothScroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/easypiechart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="/static/js/vendor/crossfilter.js"></script>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin-datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin-charts.min.js') }}"></script>

    <script src="/static/js/vendor/dc.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/graph.js"></script>
    <script src="/static/js/table.js"></script>
    <script src="/static/js/dimensionalchart.js"></script>

    <!--<link rel="stylesheet" type="text/css"-->
    <!--href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>-->
    <!--<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.colVis.min.js"></script>-->
    <!--<script type="text/javascript"-->
    <!--src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>-->
    <!--<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.js"></script>-->
    <!--<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.js"></script>-->
    <style>
    .dropdown-menu{
   max-height: 500px;
   overflow: auto;
    }


    </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">IP Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="nav-link-text">Home</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="MyProperties">
                <a class="nav-link" href="my_properties_screen">
                    <i class="fa fa-fw fa-building-o"></i>
                    <span class="nav-link-text">My Properties</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="AddProperty">
                <a class="nav-link" href="/add_property_screen">
                    <i class="fa fa-fw fa-plus"></i>
                    <span class="nav-link-text">Add Property</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="MyTransactions">
                <a class="nav-link" href="/my_transactions_screen">
                    <i class="fa fa-fw fa-print"></i>
                    <span class="nav-link-text">My Transactions</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title=" NewTransactions">
                <a class="nav-link" href="/new_transaction_screen">
                    <i class="fa fa-fw fa-plus"></i>
                    <span class="nav-link-text">New Transaction</span>
                </a>
            </li>
            {% if logged_in_user.role == 'admin' %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title=" NewTransactions">
                <a class="nav-link" href="/users">
                    <i class="fa fa-fw  fa-users"></i>
                    <span class="nav-link-text">Users</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title=" NewTransactions">
                <a class="nav-link" href="/properties">
                    <i class="fa fa-fw fa-folder-o"></i>
                    <span class="nav-link-text">Properties</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title=" NewTransactions">
                <a class="nav-link" href="/transactions">
                    <i class="fa fa-fw fa-clone"></i>
                    <span class="nav-link-text">Transactions</span>
                </a>
            </li>
            {% if logged_in_user.role == 'admin' %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title=" NewTransactions">
                <a class="nav-link" style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalnode">
                    <i class="fa fa-fw fa-sign-out"></i>Register Node</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-envelope"></i>
                    <span class="d-lg-none">Messages
                        {% if logged_in_user.unread_messages%}
              <span class="badge badge-pill badge-primary">{{ logged_in_user.unread_messages|length }} New</span>
            </span>
                    <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
                </a>{% endif %}
                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                    <div class="dropdown-header">New Messages:
                        {% if logged_in_user.unread_messages %}
                        <span class="small float-right text-muted"><a href="/clear_messages">clear</a></span>
                        {% endif %}
                    </div>
                    {% for item in logged_in_user.unread_messages %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>{{item.headline}}</strong>
              </span>
                        <span class="small float-right text-muted">{{item.time}}</span>
                        <div class="dropdown-message small">{{item.text}}
                        </div>
                    </a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/messages">View all messages</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">Alerts
                        {% if logged_in_user.unread_notifications %}
              <span class="badge badge-pill badge-warning">{{ logged_in_user.unread_notifications|length }} New</span>
            </span>
                    <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
                </a>{% endif %}
                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                    <div class="dropdown-header">New Alerts:
                        {% if logged_in_user.unread_notifications %}
                        <span class="small float-right text-muted"><a href="/clear_notifications">clear</a></span>
                        {% endif %}
                    </div>
                    {% for item in logged_in_user.unread_notifications %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>{{item.headline}}</strong>
              </span>
                        <span class="small float-right text-muted">{{item.time}}</span>
                        <div class="dropdown-message small">{{item.text}}
                        </div>
                    </a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/notifications">View all alerts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-o"></i></a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <h6 class="dropdown-header">{{logged_in_user.username}}</h6>
                    <div class="dropdown-divider"></div>
                    <button class="btn btn-light btn-small" onclick="generate_address()">Generate Address</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </div>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2" action="/properties" method="POST">
                    <div class="input-group">
                        <input name="search" class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
            </li>

        </ul>
    </div>
</nav>

<div class="content-wrapper" style="padding:20px;">
    {% block content %}{% endblock %}
</div>
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Final Year Project By Shivam Vijaywargiya</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalnode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalnodeLabel">Add url of node to be registered</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/nodes/register" method="POST">
                    <input type="text" name="node" placeholder="Enter Node Url">
                    <button class="btn btn-light">Register</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<input type="text" value="" id="myaddress">

</body>

</html>
<script>
    function generate_address(){
        $.ajax({
    url: '/generate_address',
    type: 'GET',
    async: false,
    success: function (data) {
      document.getElementById("myaddress").value = data;
      var copyText = document.getElementById("myaddress");
      copyText.select();
      document.execCommand("Copy");
      alert("Copied the address");
    },
    error: function (e) {
        alert('Something went wrong');
    }
});

    }


</script>