{% extends "logged_in_nav.html" %}
{% block content %}
<meta id="my-data" data-name="{{data}}" data-other="{{other}}">
<div id="det"><h4 style="margin-top:30px; margin-bottom:30px;">Notifications</h4>
    <table id="usertable" class="table table-bordered">
        <thead>
        <tr>
            <th>Headline</th>
            <th>Text</th>
            <th>Time</th>

        </tr>
        </thead>
        <tbody id="TableBody2"></tbody>
    </table>
</div>

<script>
var messages = $('#my-data').data();
data = messages['name'];
console.log(data);
 var dimensionalchart = new SRC.Table({
            div: "usertable",
            data_handler: function(){return data;},
            columnDefs: [{
                targets: 0,
                data: function (d) {
                    console.log(d);
                   return d['headline'];
                    },
                }, {
                    targets: 1,
                    data: function (d) {
                        return d['text'];
                    },
                }, {
                    targets: 2,
                    data: function (d) {
                        return d['time'];
                    },
                },
            ], refreshFreq: 600000,

            });
$.fn.dataTable.ext.errMode = 'none';
</script>
{% endblock %}