<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center py-xl-9"
     style="min-height: 600px; background-image: url(assets/img/theme/bg1.jpg); background-size: cover; background-position: center top;">


  <span class="mask bg-gradient-danger opacity-8"></span>

  <div class="container shape-container d-flex align-items-center py-xl-7">
    <div class="col px-0">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center">
          <img src="./assets/img/brand/white.png" style="width: 350px;" class="img-fluid">
          <p class="lead text-white">IP Management System Based On BlockChain</p>
        </div>
      </div>
    </div>
  </div>
</div>
